<div class="header">
  <div class="company-name">〇〇株式会社</div>
    <% if user_signed_in? %>
      <ul class="menu-list">
        <li><a href="#">toppage</a></li>
        <li><a href="#">time card</li>
        <li><a href="#">product</li>
        <li><a href="#">client</li>
        <li><a href="#">mail</li>
        <li><a href="#">slack</li>
      </ul>
    <% else %>
    <div class="before-login">
      <%= link_to "ログイン", new_user_session_path, class:"before-menu"%>
      <%= link_to "新規登録", new_user_registration_path,class:"before-menu"%>
    </div>
    <% end %>
  </div>
</div>