<div class="menu">
  <div class="user-name">田中太郎</div>
    <ul class="menu-list">
      <li>トップページ</li>
      <li>タイムカード</li>
      <li>顧客</li>
      <li>製品</li>
      <li>メール</li>
      <li>slack</li>
      <li>ログアウト</li>
    </ul>
  </div>
</div>