<div class="header">
  <%= render "schedules/menu_bar"%>
</div>
<div class="client" >
<h2 class="client-content">顧客一覧</h2>
  <%= link_to "新規顧客登録", new_client_path, class:"new-tab" %>
  <div class="client-list">
    <% @clients.each do |client|%>
    <div class="client-content">
      <%= link_to client_path(client.id),class:"client-name" do %>
      <%= client.name %>
      <%  end  %>
    </div>
   <% end %> 
  </div>
</div>