.product-all{
  height: calc(100vh - 100px);
  background-color: beige;
}

.product-content{
  color: black;
  margin:10px 0 0 10px;
  font-size: 35px;
}



.new-tab{
  background-color: olivedrab;
  color: white;
  font-size: 20px;
  margin-left: 700px;
  text-decoration: none;
  padding: 10px;
}

.product-list{
  font-family: osaka;
  font-size: 25px;
  margin: 40px;
  display: flex;
}

.product-data{
  margin: 0 40px;
}

.input-default{
  font-size: 20px;
  margin: 30px;
}

.select-box{
  font-size:30px;
}

.product-group{
  display: flex;
  flex-direction: column;
}

.save-blue-btn{
  margin: 30px;
  background-color: olivedrab;
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

.product-content-btn{
  margin: 5px 15px 0 15px;
  font-size: 20px;
}