.all{
  font-family: osaka;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: beige;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid brown;
}
.company-name{
  font-size: 30px;
  margin: 30px;
}

.user-name{
  font-size: 30px;
  color: black;
  margin: 30px;
  text-decoration: none;
}

.menu-lists{
  display: flex;
}


.menu-list{
  color: cornflowerblue;
  font-size: 20px;
  margin: 30px;
  padding: 0 0 0 5px;
  border-left: 3px solid brown;
  text-decoration: none;
} 

.before-login{
  font-size: 20px;
}

.before-menu{
  color: cornflowerblue;
  text-decoration: none;
  border-left: 3px solid brown;
  padding: 0 0 0 5px;
  margin: 0 30px;
}

li{
  border: 2px solid beige;
  margin: 0 20px;
}


.main{
  background-color:beige;
  font-family: OSAKA;
  height: calc(100vh - 100px);
  width: 100%;
  overflow: scroll;
}

.calendar-all{
  display: flex;
}


.calendar{
  font-family: OSAKA;
  width: 900px;
  height: 570px;
  margin: 20px 0 0 20px;
}

.calendar-title{
  font-size: 25px;
}

.calendar-content-group{
  margin: 35px 0 0 35px;
}

.calendar-field{
  margin: 20px;
}

.calendar-date-field{
  height: 50px;
}

.calendar-content{
  font-size: 20px;
  color: black;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
}

.calendar-name-field{
  font-size: 20pxpx;
  width: 300px;
}

.calendar-text-field{
  height: 200px;
  width: 300px;
}

.calendar-show{
  margin:  0 100px 60px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.calendar-show-date{
  font-size: 35px;
}