.all{
  font-family: osaka;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: beige;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid brown;
}
.company-name{
  font-size: 30px;
  margin: 30px;
}

.user-name{
  font-size: 30px;
  margin: 30px;
}

.menu-lists{
  display: flex;
}


.menu-list{
  color: cornflowerblue;
  font-size: 20px;
  margin: 30px;
  padding: 0 0 0 5px;
  border-left: 3px solid brown;
  text-decoration: none;
} 

.before-login{
  font-size: 20px;
}

.before-menu{
  color: cornflowerblue;
  text-decoration: none;
  border-left: 3px solid brown;
  padding: 0 0 0 5px;
  margin: 0 30px;
}

li{
  border: 2px solid beige;
  margin: 0 20px;
}


.main{
  background-color:beige;
  height: calc(100vh - 100px);
  width: 100%;
  overflow: scroll;
}


.calendar{
  font-family: OSAKA;
  width: 700px;
  height: 570px;
  background-color: gray;
  margin: 20px 0 0 20px;
}