.all{
  display: flex;
  flex-direction: column;
}

.header{
  background-color: dodgerblue;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}
.company-name{
  font-size: 30px;
  margin: 30px;
}


.menu-list{
  display: flex;
  font-size: 20px;
} 

.before-login{
  font-size: 20px;
}

.before-menu{
  text-decoration: none;
  border: 1px solid black;
  margin: 0 30px;
}

li{
  border: 2px solid beige;
  margin: 0 20px;
}

.main{
  background-color: dodgerblue;
  height: calc(100vh - 100px);
  width: 100%;
}

