.clock-all{
  background-color: beige;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock{
  border: 3px solid dodgerblue;
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.clock-frame{
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom:3px solid dodgerblue;
}

.stamping{
  display: flex;
}

.stamping-btn{
  background-color: olivedrab;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 70px;
  margin: 0 30px;
}

.working-data{
  display: flex;
}


.time-dates{
  font-size: 25px;
  margin: 30px;
}

.time-date{
  margin: 15px 0;
  border-bottom: 2px solid brown;
  overflow: scroll;
}